VP_APP_NAME=virtual-planner
VP_PROFILE=development
VP_USE_POSTGRES=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=virtual_planner
POSTGRES_USER=virtual_planner
POSTGRES_PASSWORD=change-me
POSTGRES_SSLMODE=disable
POSTGRES_CONNECT_TIMEOUT=5
POSTGRES_APPLICATION_NAME=virtual-planner
